---
---

$section-headings-color: rgba(34,110,147,1);
$body-link-color: rgba(0,101,128,1);

@import "{{ site.theme }}";

.page-header {
 
  @include large {
    padding: 2.5rem 3rem 1.25rem 3rem ;
  }

  @include medium {
    padding: 1.5rem 2rem 0.75rem 2rem;
  }

  @include small {
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }
}

.main-content h2 {
  border-bottom: solid 1px #eff0f1
}


body {
  font-family: Lato, sans-serif;
}

.subtitle {
  font-size: 1.3em;
  font-weight: 300;
  margin-top: -10px;
  color: #e6e6e6;
}